﻿@model KimTuyen.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Category</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index"><button class="btn btn-secondary">Back to List</button></a>
    </form>
</div>
